.navbar {
    background-color: #74c1d3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logout-button {
    background-color: #e79d1e;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d6891c;
  }
  