.request-list {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #74c1d3;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  